.container {
    height: 50%;
    background-color: #fffcdd;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    border-radius: 5px;
}

#input-box {
    background-color: #fffcdd;
}

.button {
    background-color: #fffcdd;
    color: black;

}

.button:hover {
    background-color: #e4d56f;
    color: rgb(2, 2, 2);
    transition-duration: 0.3s;
}

#input-box[type=text]:focus {
    background-color: #fffdf1;
}